nav {
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color:white;
}

nav a.active {
    color: red;
}
